@model Piranha.Models.PostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Post.Title;
}

<h1>@Model.Post.Title</h1>

@if (!String.IsNullOrEmpty(Model.Post.Excerpt)) {
    <p>
        @Model.Post.Excerpt
    </p>
}
@Model.Post.Body